html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    box-sizing: border-box; /* Ajusta el tamaño a uno más compacto, tomando en cuenta el width y padding */
}

.carlevixLogo {
    margin: 20px;
}

.signin-container{
    height: 100vh; /* vh es view height, y el número es un porcentaje*/
    display: flex; /*siempre poner esto */
    align-items: center;
    justify-content: center;
}

.column {
    background-color: #000;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    box-shadow: rgba(0,0,0, 0.1) 0 1px 2px;
    padding: 20px 35px;
    overflow-y: auto; /* Evita que el contenido se desborde en el eje "y", permitiendo que aparezca una barra de desplazamiento cuando sea necesaria (por ejemplo cuando se ve desde un celular) */
    padding-bottom: 100px;
}

.column form input {
    padding: 1em 0.9em;
    border-radius: 3px;
    min-width:fit-content;
    height: auto;
    width: 100%;
    outline: none;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"]{
    background-color: #333;
    font-size: 14px;
    margin: 10px 0;
    border: none;
}

.column form input[type="submit"]{
    background-color: #023ADE;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}

.column .button{
    transition-duration: 0.4s;
}

.column .button:hover{ /* Al colocar el cursor sobre el botón, cambiara de color */
    background-color: #0983F5;
    color: white;
}

.column .header {
    padding: 20px 0;
}

.column .header h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
    color: #fff;
}

.signInMessage,
.signUpMessage{
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: none; /* Quita el subrayado del link */
    transition-duration: 0.4s;
}

.signInMessage:hover,
.signUpMessage:hover{
    text-decoration-line: underline;
}

.background{
    display: none;
}

.wrapper {
    background-color: #000;
    position: relative;
    z-index: 0;
}

.login-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: transparent;
    z-index: 2;
    background: #000;
}

@media only screen and (max-width: 749px) { /* Para cuando está pequeña la vista, se posiciona el logo en el medio para que se vea mejor */
    .login-header img {
        display: block; /* Genera un bloque para la imagen, para así poderla centrar con los margin */
        margin-left: auto;
        margin-right: auto;
    }
}

.column .eyeButton {
    background: none;
    border: none;
    width: 0;
    height: 0;
    cursor: pointer;
    text-align: center;
    margin: 10px 0;  
    position: relative;
}

.column .eyeImage {
    position: relative;
    left: calc(100% - 35px);
    margin: 10px 0;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (min-width: 750px){ /* Desktop */
    .background {
        background-size: cover;
        display: block;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0.5;
    }
    
    .background img {
        min-height: 100%;
        min-width: 100%;
    }

    .login-header{
        background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%); /* Oscurece un poco el fondo para que se lea mejor el logo */
    }

    .column {
        background-color: rgba(0,0,0, 0.75);
        width: 450px;
    }
}