* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #fff;
    box-sizing: border-box;
    background-color: #221F1F;
}

header {
    width: 100%;
    height: 20%;
    margin: 20px;
}


section {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: 20px;
    margin-top: 100px;
}


.container {
min-width: none;
max-width: fit-content;
width: 100%;

}

.question {
    display: flex; 
    align-items: center;
    justify-content: center;
}

section .question h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    width: fit-content;
}

.profile .p1 {

    width: 130px;
    height: 130px;
}

.profile .p2 {
    width: 130px;
    height: 130px;
}

.profile .p3 {
    width: 130px;
    height: 130px;
} 

.profile .plus {
    width: 130px;
    height: 130px;
    padding-top: 40px;
    align-self: center;
}


.profile .p1:hover {
    opacity: 0.5;
}
.profile .p2:hover {
    opacity: 0.5;
}
.profile .p3:hover {
    opacity: 0.5;
}
.profile .p4:hover {
    opacity: 0.5;
}
.profile .p5:hover {
    opacity: 0.5;
}
.profile .plus:hover {
    opacity: 0.5;
}


.topFace {
    flex-flow: row wrap;
    align-items:flex-start;
    justify-content: space-between;
}

.eye {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: 18px;
    width: 18px;
}