* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #fff;
    box-sizing: border-box;
}

/* CLASES */

.wrapper {
    margin: auto; /*centra todo */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    margin: 20px;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #000;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    align-content: flex-end;
}

header nav a:hover {
    text-decoration: underline;
}

.line {
    border-top: 1px solid #A6A6A6;
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 0;
}