* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #000;
    box-sizing: border-box;
}

/* CLASES */

.wrapper {
    margin: auto; /*centra todo */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    height: 20%;
    margin: 20px;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    align-content: flex-end;
}

header nav a:hover {
    text-decoration: underline;
}

.line {
    border-top: 1px solid #A6A6A6;
    height: 2px;
    width: 100%;
}

.lineplanes {
    border-top: 1px solid #A6A6A6;
    height: 2px;
    position: relative;
    left: 110px;
    width: 985px;
}

/* SECTION */


section .container {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    max-height: 1000px;
    min-height: 400px;
    margin-top: 50px;
}

section .container .logo img {
    margin: 10px;


}

section .container .checkbox img {
    margin: 10px;
    width: 100px;
    height:100px;

}

section .container .title p {
    margin: 15px;
    font-size: 22px;
    font-weight: lighter;
    color: #201F1F;
}

section .container .subtitle p{
    margin: 10px;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

section .container .text p {
    margin: 10px;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;

}
section .container .columnas p, a {
    display: inline-flex;
    
    margin:10px 80px 10px 10px;
    width: 200px;
    position: relative;
    left: 100px;
   /* text-align: center;*/
    font-size: 18px;
    color:#4e4e4e;
}

section  .titleleft  {
    margin-top: 30px;
    margin-left: 20%;
    font-size: 22px;
    font-weight:lighter;
    color: #201F1F;
}
section  .subtitleleft  {
    margin-top: 20px;
    margin-left: 20%;
    font-size: 22px;
    font-weight: bolder;
    color: #201F1F;
}
section  .textleft  {
    margin-top: 15px;
    margin-left: 20%;
    font-size: 13px;
    font-weight: lighter;
    color: #201F1F;
}
section  .textdown  {
    margin: 20px  50px 20px 50px;
    position: relative;
    left: 50px;
    font-size: 13px;
    width: 1000px;
    font-weight: lighter;
    color: #201F1F;
}


section .buttons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;

}

section .buttonContainer {
    margin-top: 30px;
}

section .marginbutton{
    margin-left: -10%;
}

section .marginbuttonGray {
    margin-left: auto;
    margin-right: auto;
}

section .marginbuttonRedPlan {
    margin-left: 9%;
}


section .buttonContainer a {
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    justify-content: center;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    color: #fff;
    background-color: red;
    padding: .75rem 180px;
    min-width: 110px;
    width: 550px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}


section .buttonContainer a:hover {
    background-color: #0983F5;
    box-shadow: none;
}



 


/* FORM */

section .container .dataForm {  
    width: 50%;
    padding: 20px 35px;
    padding-bottom: 40px;
}


.dataForm form {
    display: flex;
    flex-direction: column;
}

section .container .dataForm form input {
    padding: 1em 0.9em;
    border-radius: 3px;
    min-width:fit-content;
    margin: 10px 0;
}

section .container .dataForm form input[type="text"],
section .container .dataForm form input[type="email"],
section .container .dataForm form input[type="password"]{
    border-color: rgba(0,0,0, 0.5);
    font-size: 14px;
    font-weight: 500;
}


.dataForm form input[type="submit"]{
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #023ADE;
    min-width: 110px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}

.dataForm form input[type="submit"]:hover{
    background-color: #0983F5;
    box-shadow: none;   
}

.formulario form input[type="radio"]{
    display: none;
    
}
.formulario form  label{
    color: #000000;
    background-color: rgb(255, 255, 255);
    margin: -350px 80px 10px 100px;
    width: 110px;
    height: 110px;
    left: 300px;
    display: inline-block;
    border: 1.5px solid #000;
    text-align: center;
    line-height: 110px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 700;
}

.formulario form  label:hover{
    color: #000000;
    background-color: #0983F5;

}

.formulario form input[type="radio"]:checked + label{
    background-color: #023ADE;
    border: 3px solid #000;
    color: #fff;
    font-size: 16px;
} 

.formulario form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: #023ADE;
    text-align: center;
    min-width: 110px;
    width: 400px;
    padding: 10px 100px 10px 100px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.formulario form input[type="submit"]:hover{
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.3s;
}


.formulario .OmitirButtonForm form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: #959392;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 110px;
    width: 200px;
    padding: 10px 50px 10px 50px;
    justify-content: center;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.formulario .OmitirButtonForm form input[type="submit"]:hover{
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.3s;
}

.OmitirButtonForm {
    margin-right: auto;
    margin-left: auto;
}

.buttonOmitir {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}


.formulario1 a{
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #b9b9b9;
    text-align:center;
    min-width: 110px;
    text-decoration: none;
    margin: 10px 0px 0px -100px;
    padding: 10px 50px 10px 100px;
    width: 100%;
    min-width:fit-content;
    
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.formulario1 a:hover{
    background-color: #5f5c5c;
    box-shadow: none;   
}


/* .OmitirButtonsForm form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: #959392;
    text-align: center;
    min-width: 110px;
    margin-top: 30px;
    width: 400px;
    padding: 10px 100px 10px 100px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.OmitirButtonsForm form input[type="submit"]:hover{
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.3s;
} */


/* DROPDOWNS */

section .container .dataForm .dropdowns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 15px;
}

section .container .dataForm .dropdowns .titleLabel {
    font-size: 14px;
    font-weight: 500;
}

section .container .dataForm .dropdowns .dropdown {
    border-radius: 3px;
    border-color: rgba(0,0,0, 0.65);
}


@media screen and (max-width:987px){

    section .container .dataForm .dropdowns {
        height: 70px;
        padding: 10px 0px 0px 15px;
        margin: 0px;
    }

    section .container .dataForm .dropdowns .dropdown{
        justify-content: center;
        align-items: stretch;
    }

}


section .container .dataForm .date {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-between;
    margin: 10px 0px;
}

section .container .dataForm .date .titleLabel {
    font-size: 14px;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 50px;
    vertical-align: baseline;
}

.errorMessage {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}
