html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box; /* Ajusta el tamaño a uno más compacto, tomando en cuenta el width y padding */
}

.signInContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    background-color: rgba(0,0,0, 0.75);
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0,0,0, 0.1) 0 1px 2px;
    padding: 20px 35px;
    overflow-y: auto; /* Evita que el contenido se desborde en el eje "y", permitiendo que aparezca una barra de desplazamiento cuando sea necesaria (por ejemplo cuando se ve desde un celular) */
}

.column form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"]{
    background-color: #333;
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
}

.column form input[type="submit"]{
    background-color: #e50914;
    color: #fff;
    padding: 1em 0.9em;
    width: fit-content;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}

.column .button{
    transition-duration: 0.4s;
}

.column .button:hover{ /* Al colocar el cursor sobre el botón, cambiara de color */
    background-color: #ff5d65;
    color: white;
}

.column .header {
    padding: 20px 0;
}

.column /*.header*/ h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
    color: #fff;
}

.column .header span {
    font-size: 14px;
}

.column .header img {
    display: block; /* Genera un bloque para la imagen, para así poderla centrar con los margin */
    margin-left: auto;
    margin-right: auto;
    width: 130px;
}

.signInMessage,
.signUpMessage{
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: none; /* Quita el subrayado del link */
    transition-duration: 0.4s;
}

.signInMessage:hover,
.signUpMessage:hover{
    text-decoration-line: underline;
}

.background {
    background-size: cover;
    display: block;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.background img {
    min-height: 100%;
    min-width: 100%;
}

.wrapper {
    background-color: #000;
    position: relative;
}